# Build artifacts
plugin/build/
plugin/Builds/

# Node modules
gui/node_modules/
gui/dist/

# IDE
.vscode/*
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
