# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/.DS_Store

# Build directories
build/
Builds/*
!Builds/.gitkeep
Install/*
Testing
cmake-build-*/
.cache/

# IDE config
.idea
.vscode/*
!.vscode/extensions.json
.history/

# Packaging output
packaging/Output/*

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
.vs/